@font-face {
    font-family: IndieFlower;
    src: url(IndieFlower-Regular.ttf);
}
body{
    font-family: IndieFlower;
    background-color: rgb(191, 246, 241);
}
.texto-centrado{
    text-align: center;
}
.deco{
    border-radius: 0%;
    background-color: rgb(255, 171, 171);
}
#boton:hover{
    background-color: brown;
}